.container{
  width: 100%;
  max-width: 1342px;
  padding: 0 15px;
  margin: 0 auto;
  
  @media(max-width: 1440px){
    max-width: 130.6rem;
    padding: 0 4.5rem;
  }

  @media(max-width: 640px){
    padding: 0 2.4rem;
  }
}